.confirm-dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
  background-color: rgba(178,178,178,0.8);

  .confirm-dialog-container {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #5C5C5C;
    width: 360px;
    height: 165px;
    text-align: center;
    margin-left: -180px;
    margin-top: -83px;
    overflow: hidden;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;

    .confirm-dialog-text-header {
      font-size: 28px;
      line-height: 44px;
      font-weight: bold;
    }

    .confirm-dialog-text-body {
      font-size: 20px;
      line-height: 32px;
    }

    .confirm-dialog-buttons {
      font-size: 20px;
      margin-top: 15px;

      .confirm-dialog-btn {
        color: #fff;
        background-color: #0096CA;
        border: none;
        padding: 10px;
        min-width: 100px;
        border-radius: 3px;
        margin: 0 20px;
      }
    }
  }
}